{% extends 'commerce/commerce.html' %}

{% load static %}
{% block styles %}
{{ block.super }}
<link rel="stylesheet" href="{% static 'commerce/css/index.css' %}">
{% endblock %}

{% block page_content %}
<h2>Welcome{% if user.is_authenticated %} {{ user.first_name }}{% endif %}!</h2>
<form class="search" action="{% url 'index' %}" method="get">
  {% for input in form %}
  {% if input.errors %}
  <ul class="rounded error list">
    {% for error in input.errors %}
    <li>{{ error }}</li>
    {% endfor %}
  </ul>
  {% endif %}
  {{ input }}
  {% endfor %}
  <input class="rounded button" type="submit" value="Search" />
</form>
{% if product_list %}
{% if query %}
<p class="text">
  {{ product_list|length }} product{{ product_list|pluralize }} found.
</p>
{% endif %}
<div class="container">
  {% for product in product_list %}
  <div class="rounded product">
    <div class="rounded image-box">
      <img alt="{{ product.name }}" src="{{ product.image.url }}">
    </div>
    <p><a href="{{ product.get_absolute_url }}">{{ product.name|upper }}</a></p>
    <p>${{ product.price }}</p>
    <p>
      {% with count=product.reviews.count %}
      {% ifnotequal count 0 %}
      %{{ product.rating }} ({{ count }})
      {% else %}
      <i>No Rating</i>
      {% endifnotequal %}
      {% endwith %}
    </p>
    <p>
      {{ product.description|default:"<i>No Description</i>"|truncatewords:15 }}
    </p>
    <a class="rounded button" href="{% url 'commerce:add' product.id %}">Add</a>
  </div>
  {% endfor %}
</div>
{% else %}
<p class="rounded text">No products found!</p>
{% endif %}
{% endblock %}
