{% extends 'commerce/commerce.html' %}

{% block title %}Login{% endblock %}

{% block page_content %}
<div class="form">
  <h2>Login</h2>
  <hr>
  {% if errors %}
  <ul class="error list">
    {% for error in errors %}
    <li>{{ error }}</li>
    {% endfor %}
  </ul>
  <hr>
  {% endif %}
  <form method="post" action="{% url 'commerce:login' %}">
    {% csrf_token %}
    {% for input in form %}
    <div>
      {{ input.label_tag }}
      {{ input }}
    </div>
    {% endfor %}
    <div>
      <input type="submit" value="Log In">
    </div>
  </form>
</div>
<p>Need an account? <a href="{% url 'commerce:register' %}">Sign up here!</a></p>
{% endblock %}
