{% extends 'commerce/commerce.html' %}

{% block title %}{{ product.name }}{% endblock %}

{% load static %}
{% block styles %}
{{ block.super }}
<link rel="stylesheet" href="{% static 'commerce/css/product.css' %}">
{% endblock %}

{% block content %}
<div id="product">
  <div class="image-box">
    <img alt="{{ product.name }}" src="{{ product.image.url }}">
  </div>
  <div class="info">
    <h2>{{ product.name }}</h2>
    <p>${{ product.price }}</p>
    <p>
      {% if product.rating %}
      %{{ product.rating }}
      {% else %}
      <i>No Rating</i>
      {% endif %}
    </p>
    {% if not product.discontinued and product.in_stock %}
    <a class="rounded button"
       href="{% url 'commerce:add_product' product.pk %}?next={{ product.get_absolute_url }}">
      Add
    </a>
    {% endif %}
  </div>
  <p class="rounded text">{{ product.description|default:"<i>No Description</i>" }}</p>
</div>
{% endblock %}
