/* articles */

article {
    display: inline-block;
    width: 69%;
}

article > h2::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 2px;
    background: linear-gradient(to right,rgba(0,0,0,0),rgba(0,0,0,0.5),rgba(0,0,0,0));
}

/* articles end */
/* input fields */

input:focus {outline: none;}

input[type="text"], input[type="password"] {
    font-size: 1em;
    box-sizing: border-box;
    border-radius: 5px;
}

input[type="text"]:focus, input[type="password"]:focus {box-shadow: 0 0 0 1px grey;}

/* input fields end */
/* general classes */

.rounded {border-radius: 5px;}

.form {
    box-sizing: border-box;
    width: 400px;
    padding: 0 10px;
    border: 1px solid #ccc;
    margin: 20px auto;
}

.form div {margin: 20px 0;}

.form div:not(:last-child) {text-align: left;}

.form label {display: block;}

.form input:not([type="submit"]) {width: 100%;}

.list {border: 1px solid #ccc;}

.list > li {
    padding: 5px;
    overflow-x: auto;
}

.list > li:not(:last-child) {border-bottom: inherit;}

.error {
    display: inline-block;
    margin: 0;
    background: rgba(255,0,0,0.35);
    color: #800;
    border: 1px solid #800;
}

.button {
    display: inline-block;
    font-size: 1em;
    padding: 5px 10px;
    background-color: #a00;
    border: 1px solid #ccc;
    color: white;
    transition: background-color 0.25s;
}

.button:hover {background-color: #f00;}

.text {
    padding: 10px;
    border: 1px solid #ccc;
    background: #eee;
}

.image-box > img {
    max-width: 100%;
    max-height: 200px;
    width: auto;
    height: auto;
}

/* general classes end */
