#product {margin: 20px 0;}

#product > .image-box {
    display: inline-block;
    vertical-align: middle;
}

#product > .info {
    display: inline-block;
    margin-left: 40px;
    text-align: left;
    vertical-align: middle;
}

#product h2 {
    margin-top: 0;
    font-weight: normal;
    font-size: 1.25em;
    color: black;
}
