<!DOCTYPE html>
<html lang="{{ LANGUAGE_CODE }}">
  <head>
    <meta charset="utf-8">
    <title>{% block title %}{{ site_name }}{% endblock %}</title>
    <meta name="author" content="{% block author %}Preston West{% endblock %}">
    <meta name="description" content="This is a test site.">
    {% load static %}
    {% block styles %}
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    {% endblock %}
    <link rel="icon" href="{% static 'images/cmicon.png' %}">
  </head>
  <body>
    <div>
      <header role="banner">
	<h1>{{ site_name }}</h1>
	<nav>
	  <ul>
	    <li><a href="{% url 'index' %}">Home</a></li>
	    <li><a href="{% url 'commerce:cart' %}">Cart</a></li>
	    {% if user.is_authenticated %}
	    <li>
	      <a href="{% url 'account:logout' %}?next={{ request.path }}">
		Logout
	      </a>
	    </li>
	    <li><a href="{% url 'account:index' %}">Account</a></li>
	    {% if user.is_staff %}
	    <li><a href="{% url 'admin:index' %}">Admin</a></li>
	    {% endif %}
	    {% else %}
	    <li>
	      <a href="{% url 'account:login' %}?next={{ request.path }}">
		Login
	      </a>
	    </li>
	    <li><a href="{% url 'account:register' %}">Register</a></li>
	    {% endif %}
	  </ul>
	</nav>
      </header>
      <main>
	<article>
	  {% block content %}{% endblock %}
	</article>
	{% block extra %}{% endblock %}
      </main>
    </div>
    <footer role="contentinfo">
      <p class="copyright">{{ site_name }} &copy; {{ year }}</p>
    </footer>
  </body>
</html>
