{% extends 'commerce/commerce.html' %}

{% load static %}
{% block styles %}
{{ block.super }}
<link rel="stylesheet" href="{% static 'commerce/css/pages/index.css' %}">
{% endblock %}

{% block page_content %}
<h2>Welcome!</h2>
<form class="search" action="{% url 'index' %}" method="get">
  <input type="text" name="q" value="{{ query }}">
  <input type="submit" value="Search">
</form>
{% if product_list %}
{% if query %}
<p class="text">{{ product_list|length }} product{{ product_list|pluralize }} found.</p>
{% endif %}
<div class="container">
  {% for product in product_list %}
  <div class="product">
    <div class="image-box">
      <img alt="{{ product.name }}" src="{{ product.image.url }}">
    </div>
    <p><a href="{{ product.get_absolute_url }}">{{ product.name|upper }}</a></p>
    <p>${{ product.price }}</p>
    <p>
      {% if product.rating %}
      %{{ product.rating }}
      {% else %}
      <i>No Rating</i>
      {% endif %}
    </p>
    <p>{{ product.description|default:"<i>No Description</i>"|truncatechars:30 }}</p>
    <a class="button" href="{% url 'commerce:add' product.id %}">Add</a>
  </div>
  {% endfor %}
</div>
{% else %}
<p class="text">No products found!</p>
{% endif %}
{% endblock %}
